*.exe
*.exe*
*.ilk
*.dll
*.embed.manifest
*.rc
*.res
*.exp
*.lib
*.o
*.obj
*.pdb
*lib*.so*

ui_*.h
moc_*.cpp
moc_*.obj
*.pro.user
*.user.*
Makefile*
*.moc
*moc_predefs.h
qrc_*.cpp
.qmake.stash
*.autosave

*.log
*.mid
*.sav
*.directory

quickpather/debug/
tests/auto/quickpather/debug/
tests/auto/quickpather/tst_quickpather
examples/basic/basic
examples/box2d/box2d
