*.exe
*.exe*
*.ilk
*.dll
*.embed.manifest
*.rc
*.res
*.exp
*.lib
*.o
*.obj
*.pdb
*lib*.so*

ui_*.h
moc_*.cpp
moc_*.obj
*.pro.user
*.user.*
Makefile*
*.moc
qrc_*.cpp
.qmake.stash
*.autosave

*.log
*.mid
*.sav
*.directory

app/tshnm
app/debug/